body {
      font-family: sans-serif;
      margin: 0;
      padding: 40px;
      background-color: #070707;
      background-repeat: no-repeat;
      background-size: cover;
}
title-container {
      display: flex;
      justify-content: center;
      align-items:center ;
      padding: 30px;
      text-align: center;
      text-decoration-color:aliceblue;
}
title-text {
      text-align: center;
      text-decoration-color:rgb(247, 243, 243);

}
#title {
      font-weight: bolder;
      margin: 0;
      background: linear-gradient(45deg, #1ae4cd, #39a1c7);
      -webkit-background-clip: text;
      background-clip: text;
    color: transparent;
      text-align: center;
      font-size: 40px;
}
.web-icon {
      width: 60px;
      height: 60px;
  }
  .main-container {
      overflow:auto;
      margin: auto;
      max-width: 600px;
      height: 69vh;
      padding: 10px;
      /* backdrop-filter: blur(10px); */
      
      /* border: 2px solid green; */
      border-radius: 30px;
      box-shadow: 0px 0px 10px #1ae4cd;
  }
.main-container h1 {
      font-weight: 700;
      font-family: sans-serif;
      text-align: center;
      color: white;
  }
label {
      color: white;
      font-size: larger;
      margin: 10px 30px;
  }
#Email {
      border: 2px solid #289292;
      width: 80%;
      padding: 20px;
      margin: 10px 20px 30px 20px;
      border-radius: 20px;
      transition: all 0.4s;
  }
#password {
      border: 2px solid #4a4f4f;
      width: 80%;
      padding: 20px;
      margin: 10px 20px 10px 20px;
      border-radius: 20px;
      transition: all 0.4s;
  }
.main-container p {
      margin: 0;
      text-align: right;
      padding-right: 55px;
      margin-bottom: 10px;
  }
.main-container a {
      text-decoration: none;
      color: rgb(247, 243, 243);
      transition: all 0.3s;
  }
.main-container a:hover {
      color: #00aa00;
  }
#button-container {
      display: flex;
      justify-content: center;
  }
.buttons {
      cursor: pointer;
      width: 33%;
      padding: 15px;
      border: none;
      border-radius: 15px;
      color: white;
      background-color: #00aa00;
      font-size: medium;
      transition: all 0.4s;
  }
#signupcontainer {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      gap: 10px;
  }
  .sub-buttons {
      cursor: pointer;
      font-size: smaller;
      width: 33%;
      height: 40px;
      background-color: #00aa00;
      color: white;
      border: none;
      border-radius: 15px;
      overflow: hidden;
      transition: all 0.4s;
  }

#Email:focus {
      box-shadow: 0px 0px 10px white;
  }#password:focus {
      box-shadow: 0px 0px 10px white;
      
  }
.buttons:hover, .sub-buttons:hover {
      background-color: darkgreen;
  }